.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gambar-container {
    text-align: center;
  }
  .gambar-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Menambahkan cursor pointer saat di hover */
  }
  
  .catatan {
    text-align: left !important;
    font-size: 1002px;
  }
  