/* Header */
.header {
  width: 100%;
  background: -moz-linear-gradient(90deg, rgba(1, 10, 0, 1) 0%, rgba(11, 121, 9, 1) 50%, rgba(1, 10, 0, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(1, 10, 0, 1) 0%, rgba(11, 121, 9, 1) 50%, rgba(1, 10, 0, 1) 100%);
  background: linear-gradient(90deg, rgba(1, 10, 0, 1) 0%, rgba(11, 121, 9, 1) 50%, rgba(1, 10, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010a00", endColorstr="#010a00", GradientType=1);
  text-align: center;
  border-radius: 0 0 80% 80% / 0px;
  position: relative;
}

.container-header {
  margin-top: 0%;
}

.col-header {
  margin-top: 1%;
  width: 50%;
}

#title-header {
  color: white;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.card-body {
  margin-top: -3%;
  text-align: center;
  color: black;
  font-size: 100%;
}

.table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 0%;
}


.table th {
  background-color: #207e33;
}

.isi-table th {
  padding: 5px;
}

.input-waktu {
  font-weight: bold;
}

[class*="col-"] {
  width: 100%;
}

#logo {
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.container-footer {
  background-color: green;
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.h1-footer {
  color: white;
  margin-top: 3%;
  font-size: 11px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: white;
}

img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  border-radius: 10px;
}

/* CSS untuk tabel */
.agenda h1 {
  text-align: center;
  font-size: 100%;
    font-weight: bold; /* Menambahkan tebal pada font */
  margin-top: 5%;
}

th {

  text-align: center;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  font-size: 65%;
}

td {

  font-size: 70%;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

table {

  width: 95%;
margin: 0 auto; /* Ini akan memposisikan tabel di tengah halaman secara horizontal */
  border-collapse: collapse;
  border: 1px solid #333;
}

th,
td {
  padding: 0.5%;
  border-bottom: 1px solid #000;
}

thead th {
  background-color: #f2f2f2;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hapus garis batas kanan dari sel terakhir di setiap baris */
tbody tr td:last-child,
thead th:last-child {
  border-right: none;
}


table th {
  background-color: green; /* Warna hijau */
  color: white; /* Warna teks putih untuk kontras */

  border: 1.5px solid black;
  text-align: center;
  font-size: 10px;
}

.kolom_judul {
  color: white;
}